
	<!-- Side tabs shortcuts -->
	<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
		<li class="current"><a href="./" class="shortcut-dashboard" title="Escritorio">Escritorio</a></li>
		<li><a href="mensajes" class="shortcut-messages" title="Messages">Mensajes</a></li>
		<li><a href="agenda" class="shortcut-agenda" title="Agenda">Agenda</a></li>
		<li><a href="contactos" class="shortcut-contacts" title="Contacts">Contactos</a></li>
		<li><a href="medias" class="shortcut-medias" title="Medias">Medias</a></li>
		<li><a href="estadisticas" class="shortcut-stats" title="Stats">Estdísticas</a></li>
		<li class="at-bottom"><a href="configuracion" class="shortcut-settings" title="Settings">Opciones</a></li>
		<li><span class="shortcut-notes" title="Notes">Notes</span></li>
    </ul>

	<!-- Side tabs shortcuts with legends under the icons -->
	<!-- <ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right with-legend">
		<li class="current"><a href="./" class="shortcut-dashboard" title="Dashboard"><span class="shortcut-legend">Dashboard</span></a></li>
		<li><a href="inbox.html" class="shortcut-messages" title="Messages"><span class="shortcut-legend">Messages</span></a></li>
		<li><a href="agenda.html" class="shortcut-agenda" title="Agenda"><span class="shortcut-legend">Agenda</span></a></li>
		<li><a href="tables.html" class="shortcut-contacts" title="Contacts"><span class="shortcut-legend">Contacts</span></a></li>
		<li><a href="explorer.html" class="shortcut-medias" title="Medias"><span class="shortcut-legend">Medias</span></a></li>
		<li><a href="sliders.html" class="shortcut-stats" title="Stats"><span class="shortcut-legend">Stats</span></a></li>
		<li class="at-bottom"><a href="form.html" class="shortcut-settings" title="Settings"><span class="shortcut-legend">Settings</span></a></li>
		<li><span class="shortcut-notes" title="Notes"><span class="shortcut-legend">Notes</span></span></li>
	</ul> -->
